body{
    overflow-y : hidden;
    overflow-x: hidden;
}

.mitad{
    margin : 0px;
    width : 50%;
    height : 105vh;
    opacity : 0.8;
    position : relative;
    top : -16px;
    left : -8px;
    object-fit : cover;

}

.contenedor{
    height: 105vh;
    width: 52%;
    background-image: url("../imagenes/cielo.png");
    position: relative;
    left : 49%;
    top : -1132px;
}

.tituloArriba{
    background-color: rgb(7, 54, 101);
    position: relative;
    top : 24px;
    text-align: center;
    font-family: monospace;
    font-size: 48px;
    color : rgb(255, 255, 255);
}

.parrafo{
    background-color: rgb(35, 93, 152);
    text-align: center;
    color : rgb(255, 255, 255);
    font-style: italic;
    font-size: 18px;
    position: relative;
    top : 16px;
    text-decoration: underline;

}

label{
    font-size: 40px;
    font-family: monospace;
    font-weight: 600;
}

p{
    position: relative;
    top : -4px;
    font-size: 20px;
}

.divIsbn{
    position : relative;
    top : 64px;
   left : 80px;

    height: 100px;
    width: 320px;
    text-align: center;

}

.divTitulo{
    position : relative;
    top : -36px;
    left : 360px;

    height: 100px;
    width: 320px;
    text-align: center;


}

.divAutor{
    position : relative;
    top : -32px;
   left : 80px;

    height: 100px;
    width: 320px;
    text-align: center;

}

.divGenero{
    position : relative;
    top : -132px;
    left : 360px;

    height: 100px;
    width: 320px;
    text-align: center;


}

.divPaginas{
    position : relative;
    top : -124px;
   left : 80px;

    height: 100px;
    width: 320px;
    text-align: center;
}


.contenedorDiv{
    background-color: rgba(164, 173, 186, 0.8);  
    backdrop-filter: blur(5px);
    position: relative;
    top : 32px;
    height: 400px;
    
}

.quieroBoton{
    position: relative;
    top : 32px;
    font-weight: 600;
    color : rgb(255, 255, 255);
    font-size : 24px;
    padding : 16px;
    border-radius : 32px;
    position : relative;
    left : 18%;
    top : 64px;
    margin : 8px;
    background-color: rgb(7, 54, 101);

    width: 256px;
}

.atrasBoton{
    position: relative;
    top : 32px;
    font-weight: 600;
    color : rgb(0, 0, 0);
    font-size : 24px;
    padding : 16px;
    border-radius : 32px;
    position : relative;
    left : 18%;
    top : 64px;
    margin : 8px;
    background-color: rgb(195, 196, 196);

    width: 256px;
}

.atras{
    text-decoration: none;
    color : rgb(0, 0, 0);
}



.info{
    width: 48%;
    height: 256px;
    background-color: rebeccapurple;
    position: relative;
    top : -600px;
    left : 0px;
    background-color: rgba(164, 173, 186, 0.8);  
    backdrop-filter: blur(1px);
}

.textoGET{
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top : 100px;
    left : 24px;
}
/*  FORMULARIO */

#mostrarFormu{
    background-image: url("../imagenes/librosCIELO.png");
    background-size: 160%;
    background-repeat: no-repeat;
    height: 512px;
    width: 580px;
    overflow-y: hidden;
}

#modalTitulo, #modalParrafo, #modalParrafo2{
    text-align: center;
    color : #fff;
}

#modalTitulo{
    font-family: monospace;
    background-color: rgb(7, 54, 101);
}

#modalParrafo{
    font-size: 24px;
    background-color: rgb(35, 93, 152);
}

#modalParrafo2{
    font-size: 16px;
    font-style: italic;
    background-color: rgb(76, 152, 228);
    
}



input{
    display : block;
    position: relative;
    left : 80px;
    padding: 16px;
    margin : 8px;
   
    border : 2px #000 solid;
    border-radius: 16px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#fecha, #fechadev{
    width: 160px;
}

#fechadev{
    position: relative;
    top : -64px;
    left : 280px;
}

.activo{
    background-color: rgb(193, 206, 206);
}


.enviar{
    
    font-weight: 600;
    color : rgb(255, 255, 255);
    font-size : 24px;
    padding : 16px;
    border-radius : 32px;
    position : relative;
    top : -32px;
    margin : 8px;
    background-color: rgb(7, 54, 101);

    width: 200px;
}

#cerrarBoton{
    
    font-weight: 600;
    color : rgb(0, 0, 0);
    font-size : 24px;
    padding : 16px;
    border-radius : 32px;
    position : relative;
    top : -116px;
    left : 282px;
    margin : 8px;
    background-color: rgb(195, 196, 196);

    width: 200px;
}

#errorInicio{
    position: relative;
    left : 8px;
    text-decoration: none;
    color : rgb(255, 11, 11);
    
}
